body {
    margin: 0%;
    font: 'Raleway', sans-serif;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2em;
    top: 15%;
    background: linear-gradient(to right, red, yellow);
}

h1 {
    font: 600 3.2em 'Raleway', sans-serif;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: .2em;
}

h3 {
    font: 900 1em 'Raleway', sans-serif;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
}

button {
    curos: pointer;
}

#random {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em 2em;
    width: 100%;
    font-size: 16px;
    background-color: rgba(0, 0, 0, .14);
    border: none;
    color: white;
    text-transform: uppercase;
}

#random:active {
    background-color: rgba(0, 0, 0, .3)
}
